# 📦 Dépendances pour le développement et les tests

pytest>=7.0
flake8>=6.0
black>=24.0
isort>=5.12
pdbpp>=0.10
requests>=2.31
voluptuous>=0.13
homeassistant>=2024.6.0
python-dotenv>=1.0
requests-mock>=1.11
pytest-asyncio>=0.21.0
